.home {
    width: 100%;
    height: 90vh;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    width: auto;
    margin-left: 50px;
}

.container h1 {
    justify-content: center;
    align-items: center;
    font-size: 90px;
    height: 60px;
    font-weight: 50;
    color: black;
}

.container p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: black;
}

.container button {
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    transition: 0.7s;
    box-shadow: none;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.container button:hover {
    color: black;
    background-color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
    animation: none;
}

/* Media Query for screen sizes 1200px and below */
@media only screen and (max-width: 1200px) {
    .container h1 {
        font-size: 70px;
    }

    .container p {
        font-size: 30px;
    }

    .container button {
        width: 150px;
        font-size: 18px;
    }
}

/* Media Query for screen sizes 900px and below */
@media only screen and (max-width: 900px) {
    .container {
        margin-left: 30px;
    }

    .container h1 {
        font-size: 50px;
    }

    .container p {
        font-size: 25px;
    }

    .container button {
        width: 140px;
        font-size: 16px;
    }
}

/* Media Query for screen sizes 600px and below */
@media only screen and (max-width: 600px) {
    .home {
        align-items: center;
        text-align: center;
    }

    .container {
        margin-left: 0;
    }

    .container h1 {
        font-size: 40px;
    }

    .container p {
        font-size: 20px;
    }

    .container button {
        width: 130px;
        font-size: 14px;
        margin-left: 0;
    }
}

/* Media Query for screen sizes 400px and below */
@media only screen and (max-width: 400px) {
    .container h1 {
        font-size: 30px;
    }

    .container p {
        font-size: 16px;
    }

    .container button {
        width: 120px;
        font-size: 12px;
    }
}
