.login-container {
    width: 100%;
    min-height: 79vh;
    display: flex;
    flex-direction: column;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-form h1 {
    margin-bottom: 20px;
    font-size: 36px;
    color: #333;
}
.login-form label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.login-form input:focus {
    border-color: #74ebd5;
    outline: none;
}

.login-form button {
    width: 100%;
    padding: 15px;
    border: none;
    background: #74ebd5;
    color: white;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-form button:hover {
    background: #acb6e5;
}

.forgot-password {
    margin-top: 20px;
}

.forgot-password a {
    color: #74ebd5;
    text-decoration: none;
    transition: color 0.3s;
}

.forgot-password a:hover {
    color: #acb6e5;
    
}
