
.navbar {
    width: 100%;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #333;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1800px;
    margin: auto;
    padding: 10px 20px;
  }
  
  .navbar-logo {
    height: 60px;
  }
  
  .navbar-links {
    display: flex;
    gap: 20px;
  }
  
  .navbar-links a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background 0.5s ease;
  }
  
  .navbar-links a:hover,
  .navbar-links a.active {
    background: rgb(30, 200, 132);
  }
  
  .navbar-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .navbar-container {
      flex-direction: column;
      align-items: center;
      
    }
  
    .navbar-links {
      display: none;
      flex-direction: column;
      width: 100%;
      align-items: center;
      padding-top: 20px;
    }
    .navbar-logo{
        margin-right: 10px;
        height: 40px;
    }
  
    .navbar-links.active {
      display: flex;
    }
  
    .navbar-links a {
      padding: 15px;
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  
    .navbar-toggle {
      display: block;
      align-self: center;
      margin-bottom: 10px;
    }
  }
  